.saude-text{
  border-left-width: 7px;
  border-left-style: solid;
  border-color: red;
  width: 60%;
  text-align: left;
}

.saude-text, p{
  margin-left: 10px;
}

.saude-title, h2{
  color: red
}

.h2, p{
  font-family: Montserrat;
}

.subcard{
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: Montserrat;
}

.card-img-top:hover{
  border: 2px solid red;
}

.card-sau{
  background-color: #eaecde;
}

.card-sau:hover{
  color:red
}

.btn-outline-secondary{
  height:25px;
  font-size: 10px;
}
