.inicio{
  align-items: left;
}

.static{
  position: fixed;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  padding-top: 20%;
}

.static-img{
  width: 35px;
  height: 35px;
}

/*.home-noticias{
  border: 30px solid #005ab3;
  background: #005ab3;
  font-family: Montserrat;
  height: 350px;
  margin: 0 8% 0 8%;
  text-align: center;
  color: #fefefe;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 280px;
}
*/

.home-noticias{
  border: 30px solid #0C5C73;
  background: #0C5C73;
  height: 340px;
  padding-bottom: 280px;
  margin: 0 8% 0 8%;
  font-family: Montserrat;
}

.home-noticias-lbv{
  font-family: Montserrat;
  text-align: center;
  color: white;
  font-size: 30px;
  padding-bottom: 20px;
}

.card{
  background: #0C5C73;
}

.card:hover{
  opacity: 0.6;
  transition: 0.5s;
}

.card-text{
  color: white;
}

.card-img-top-first:hover{
  border: 2px solid white;
}

.subcard{
  padding-top: 50px;
  font-family: Montserrat;
}


.card-img-top-brown:hover{
  border: 2px solid brown;
}

.card-img-top-green:hover{
  border: 2px solid green;
}

.card-img-top-black:hover{
  border: 2px solid black;
}

.card-title-dia{
  border-left-width: 7px;
  border-left-style: solid;
  border-color: brown;
  width: 120%;
}

.card-title-ecologia{
  border-left-width: 7px;
  border-left-style: solid;
  border-color: green;
  width: 120%;
}

.card-title-educacao{
  border-left-width: 7px;
  border-left-style: solid;
  border-color: black;
  width: 120%;
}

.card-dia:hover{
  color: brown;
  opacity: 0.7;
  transition: 0.5s;
}

.card-ecologia:hover{
  color:green;
  opacity: 0.7;
  transition: 0.5s;
}

.card-educacao:hover{
  opacity: 0.7;
  transition: 0.5s;
}

.btn-outline-secondary{
  height:25px;
  font-size: 10px
}

.img-banner:hover{
  opacity: 0.8;
  transition: 0.5s;
}

.banner-dia{
  border-left: 7px solid;
  border-color: brown;
  font-size: 18px;
  font-family: Montserrat;
  text-align: left;
  color: brown;
}

.banner-educacao{
  border-left: 7px solid;
  border-color: black;
  font-size: 18px;
  font-family: Montserrat;
  text-align: left;
  color: black;
}

.banner-ecologia{
  border-left: 7px solid;
  border-color: green;
  font-size: 18px;
  font-family: Montserrat;
  text-align: left;
  color: green;
}

.banner-saude{
  border-left: 7px solid;
  border-color: red;
  font-size: 18px;
  font-family: Montserrat;
  text-align: left;
  color: red;
}

.linha{
  border-bottom: 1px solid
}










